body{margin:21px 0px; background:#bee2e0 url(../images/bg.gif) repeat-x top left; font-family:Arial, Helvetica, sans-serif;}
h1, h2, h3, h4, h5, h6, form, p, ul{padding:0px; margin:0px; list-style:none;}
.clearfix:after {content: ".";	display: block;	clear: both;	visibility: hidden;	line-height: 0;	height: 0;} 
.clearfix {	display: inline-block;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {	height: 1%;}

#container{width:100%; margin:auto;}
/* start header */
#header{width:1050px; margin:auto; height:103px; background:url(../images/header-bg.gif) no-repeat top right;}
#logo{ clear:both;}
#logo a{height:61px; width:432px;float:left;}
#logo h1{ font-size:22px; line-height:60px; font-weight:normal; color:#eb7527; float:left;}
/* start menu */
#navigation{ height:42px; font-size:13px; line-height:42px; clear:both; font-weight:bold;}
#navigation li{ float:left; display:block; padding:0px 11px; height:42px;  background:url(../images/separator.gif) no-repeat top right; }
#navigation li a{ text-decoration:none;color:#fff; height:42px;}
#navigation li a span{background:url(../images/down-arrow.gif) no-repeat right center; padding-right:20px;}
#navigation li a:hover{color:#efe4cd;}
#navigation li a.browse{ float:left;background:url(../images/browse.gif) no-repeat left center;padding-left:30px;}
#navigation li a.menuplan{ float:left; background:url(../images/menu-plan.gif) no-repeat left center;padding-left:23px;}
#navigation li:first-child{float:left; padding-left:0px;}
/* end header menu  and start wrapper*/
#wrapper{background:url(../images/wrapper-bg.gif) repeat-y top center;}
#content-wrapper{ margin:auto; width:1004px; padding-top:23px; background:url(../images/content-wrapper-bg.gif) no-repeat top center;}
#left-panel{ float:left; width:629px;}
#right-panel{ float:right; width:355px;}
/* end wrapper start footer */
#footer{background:url(../images/footer-bg.gif) no-repeat top center; height:126px;}
/* end footer */