body {
    padding-right: 0px;
    background-position: center 50%;
    padding-left: 0px;
    background-image: url(../images/body-img.jpg);
    padding-bottom: 0px;
    margin: 0px auto;
    padding-top: 0px;
    background-repeat: repeat-y
}

a {
    outline: none;
    -moz-outline:

}

.wrapper {
    margin: 0px auto;
    width: 1050px;
    position: relative
}

.footer-bg {
    background-image: url(../images/footer-body-img2.jpg);
    margin: 0px auto;
    width: 1050px;
    background-repeat: repeat-y;
    position: relative;
    height: 50px;
    background-color: #d0e5e6
}

.footer-bg img {
    left: 0px;
    position: absolute
}

body .footer-bg img {

}

body .footer-bg img {
    _left: 0px
}

html > body .footer-bg img {
    left: 0px
}

.header-container {
    background-image: url(../images/header-bg.jpg);
    background-repeat: repeat-x;
    height: 124px
}

.clr {
    clear: both
}

form {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin: 0px;
    padding-top: 0px
}

.header {
    background-image: url(../images/header-bg2.jpg);
    margin: 0px auto;
    width: 1050px;
    background-repeat: no-repeat;
    position: relative;
    height: 82px
}

.top-nav {
    font-weight: bold;
    font-size: 13px;
    width: 1050px;
    color: #fff;
    line-height: 41px;
    font-family: arial, helvetica, sans-serif;
    position: absolute;
    top: 83px;
    height: 41px
}

.top-nav ul {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin: 0px;
    padding-top: 0px;
    list-style-type: none
}

.top-nav ul li {
    padding-right: 15px;
    background-position: right 50%;
    padding-left: 15px;
    float: left;
    background-image: url(../images/line3.jpg);
    padding-bottom: 0px;
    padding-top: 0px;
    background-repeat: no-repeat;
    position: relative
}

.top-nav ul li a {
    font-weight: bold;
    font-size: 13px;
    color: #ffffff;
    font-family: arial, helvetica, sans-serif;
    text-decoration: none
}

.top-nav ul li a:hover {
    font-weight: bold;
    font-size: 13px;
    color: #cccccc;
    font-family: arial, helvetica, sans-serif;
    text-decoration: none
}

body .top-nav-img {
    _position: absolute;
    _right: 2px;
    _top: 18px
}

.logo-container {
    left: 0px;
    position: absolute;
    top: 0px
}

.logotext-container {
    font-size: 22px;
    left: 431px;
    color: #eb7527;
    font-family: arial, helvetica, sans-serif;
    position: absolute;
    top: 36px
}

.body-container {
    padding-left: 23px;
    padding-top: 23px
}

.left-container {
    float: left;
    width: 629px
}

.winter-menu-plan {
    background-position: 50% bottom;
    background-image: url(../images/winter-menu-plan1.jpg);
    margin-bottom: 6px;
    background-repeat: no-repeat;
    position: relative;
    height: 48px;
    background-color: #2aa4b1
}

.winter-menu-plan-text {
    font-size: 21px;
    left: 14px;
    color: #ffffff;
    font-family: "myriad pro";
    position: absolute;
    top: 12px
}

.winter-menu-plan-text1 {
    font-weight: bold;
    font-size: 11px;
    color: #fff;
    font-family: arial, helvetica, sans-serif
}

.winter-menu-plan-text1 ul {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 15px;
    margin: 0px 0px 0px 228px;
    width: 260px;
    padding-top: 17px;
    list-style-type: none
}

.winter-menu-plan-text1 ul li {
    padding-right: 12px;
    background-position: left 50%;
    padding-left: 12px;
    float: left;
    background-image: url(../images/li-bg1.jpg);
    padding-bottom: 0px;
    padding-top: 0px;
    background-repeat: no-repeat
}

.view-text {
    left: 193px;
    width: 38px;
    position: absolute;
    top: 21px;
    background-color: #2aa4b1
}

.actions {
    left: 510px;
    position: absolute;
    top: 14px
}

.day-and-menu {
    margin-bottom: 8px
}

.day-text {
    padding-right: 0px;
    padding-left: 0px;
    font-weight: bold;
    font-size: 12px;
    background-image: url(../images/data-bg1.jpg);
    padding-bottom: 0px;
    margin: 0px;
    color: #ffffff;
    line-height: 26px;
    padding-top: 0px;
    border-bottom: #ffffff 1px solid;
    background-repeat: repeat-x;
    font-family: arial, helvetica, sans-serif;
    list-style-type: none;
    height: 26px
}

.day-text-data-img {
    padding-right: 0px;
    background-position: right 50%;
    padding-left: 0px;
    float: left;
    background-image: url(../images/day-bg1.jpg);
    padding-bottom: 0px;
    margin: 0px;
    width: 21px;
    padding-top: 0px;
    background-repeat: no-repeat;
    height: 26px
}

.day-text-data {
    padding-right: 0px;
    padding-left: 0px;
    float: left;
    padding-bottom: 0px;
    margin: 0px;
    width: 86px;
    padding-top: 0px;
    text-align: center
}

.menu-item {
    padding-right: 0px;
    padding-left: 20px;
    padding-bottom: 0px;
    margin: 0px;
    padding-top: 0px;
    list-style-type: none;
    height: 26px;
    background-color: #edeeee
}

.menu-item-data {
    font-weight: bold;
    font-size: 11px;
    float: left;
    border-left: #ffffff 1px solid;
    width: 86px;
    color: #616a72;
    line-height: 26px;
    font-family: arial, helvetica, sans-serif;
    height: 26px;
    background-color: #ced1d1;
    text-align: center
}

body .menu-item-data {
    _padding-top: 6px;
    _height: 20px
}

.menu-item-data a {
    font-weight: bold;
    font-size: 11px;
    color: #616a72;
    font-family: arial, helvetica, sans-serif;
    text-decoration: none
}

.week {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin: 0px 0px 4px;
    padding-top: 0px;
    list-style-type: none;
    position: relative;
    height: 69px
}

.week ul {
    padding-right: 0px;
    padding-left: 19px;
    padding-bottom: 0px;
    margin: 0px;
    padding-top: 0px;
    list-style-type: none;
    height: 69px
}

body .week ul {
    _height: 69px;
    _margin: 0px;
    _padding: 0px 0px 0px 15px;
    _list-style: none
}

.week li {
    border-right: #d5d4d4 1px solid;
    padding-right: 6px;
    border-top: #d5d4d4 1px solid;
    padding-left: 6px;
    font-weight: bold;
    font-size: 11px;
    float: left;
    padding-bottom: 6px;
    margin-left: 4px;
    border-left: #d5d4d4 1px solid;
    width: 69px;
    color: #e67432;
    padding-top: 6px;
    border-bottom: #d5d4d4 1px solid;
    font-family: arial, helvetica, sans-serif;
    height: 55px;
    background-color: #fcfcfc
}

.week-text {
    font-weight: bold;
    font-size: 10px;
    width: 18px;
    color: #ffffff;
    line-height: 11px;
    font-family: arial, helvetica, sans-serif;
    position: absolute;
    height: 69px;
    background-color: #b1bdc1;
    text-align: center
}

.right-container {
    float: right;
    width: 356px
}

.quick-recipe-search {
    padding-left: 10px;
    font-weight: bold;
    font-size: 15px;
    background-image: url(../images/quick-recipe-search.jpg);
    margin-bottom: 4px;
    width: 346px;
    color: #ffffff;
    line-height: 26px;
    font-family: "myriad pro";
    height: 26px
}

.quick-recipe-search-container {
    border-right: #dddddd 1px solid;
    padding-right: 11px;
    background-position: 50% top;
    padding-left: 11px;
    background-image: url(../images/bg1.jpg);
    border-left: #dddddd 1px solid;
    width: 331px;
    padding-top: 12px;
    background-repeat: repeat-x;
    background-color: #fafaf6
}

.quick-recipe-search-container-left {
    float: left;
    width: 216px
}

.search-input {
    background-image: url(../images/search-input.jpg);
    margin-bottom: 12px;
    width: 216px;
    background-repeat: no-repeat;
    position: relative;
    height: 22px
}

.search-input-from {
    left: 27px;
    width: 184px;
    position: absolute;
    top: 2px
}

body .search-input-from {
    _top: 0px
}

html > body .search-input-from {
    top: 0px
}

.search-input-from input {
    border-right: #ffffff 1px solid;
    border-top: #ffffff 1px solid;
    font-size: 12px;
    border-left: #ffffff 1px solid;
    width: 140px;
    color: #a3a3a3;
    border-bottom: #ffffff 1px solid;
    font-family: arial, helvetica, sans-serif;
    height: 15px
}

.youhave-selected {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 12px;
    padding-bottom: 10px;
    color: #525454;
    padding-top: 8px;
    font-family: arial, helvetica, sans-serif
}

.header1 {
    display: block;
    font-weight: bold;
    font-size: 13px;
    padding-bottom: 4px;
    color: #292e2e;
    font-family: arial, helvetica, sans-serif
}

.youhave-selected-container {
    margin: 11px auto 0px;
    width: 214px;
    position: relative
}

.youhave-selected-container-text {
    background-position: 50% top;
    background-image: url(../images/youhave-selected-img3.jpg);
    width: 214px;
    background-repeat: repeat-x;
    background-color: #329da7
}

.selected-data {
    font-weight: bold;
    font-size: 12px;
    float: left;
    width: 119px;
    color: #ffffff;
    padding-top: 4px;
    font-family: arial, helvetica, sans-serif;
    text-align: center
}

.selected-data img {
    border-right: #627f62 1px solid;
    border-top: #627f62 1px solid;
    margin: 5px 0px;
    border-left: #627f62 1px solid;
    border-bottom: #627f62 1px solid
}

.selected-data1 {
    font-weight: bold;
    font-size: 11px;
    float: left;
    width: 95px;
    color: #ffffff;
    font-family: arial, helvetica, sans-serif
}

.star-container {
    padding-bottom: 15px;
    padding-top: 4px;
    height: 12px
}

.pagination {
    padding-right: 0px;
    padding-left: 0px;
    font-weight: bold;
    font-size: 12px;
    padding-bottom: 10px;
    color: #007ad8;
    padding-top: 10px;
    font-family: arial, helvetica, sans-serif;
    height: 15px
}

.number {
    float: left
}

.number a {
    font-weight: bold;
    font-size: 12px;
    color: #007ad8;
    font-family: arial, helvetica, sans-serif;
    text-decoration: none
}

.number a:hover {
    font-weight: bold;
    font-size: 12px;
    color: #007ad8;
    font-family: arial, helvetica, sans-serif;
    text-decoration: underline
}

.quick-recipe-search-container-right {
    float: right;
    width: 99px
}

.narrow-container {
    font-weight: bold;
    font-size: 15px;
    color: #e67432;
    line-height: 20px;
    font-family: arial, helvetica, sans-serif;
    text-align: left
}

.narrow-text {
    font-weight: bold;
    font-size: 12px;
    color: #007ad8;
    font-family: arial, helvetica, sans-serif
}

.narrow-text-header {
    color: #292e2e
}

.left-sub-container1 {
    font-size: 11px;
    float: left;
    width: 310px;
    font-family: arial, helvetica, sans-serif
}

.sub-h1 {
    padding-right: 0px;
    padding-left: 0px;
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 0px;
    margin: 0px;
    padding-top: 0px;
    font-family: "myriad pro"
}

.add-recipe-form-container {
    clear: both;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 10px;
    margin: 0px;
    padding-top: 0px;
    list-style-type: none;
    height: 40px;
}

body .add-recipe-form-container {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px
}

body .add-recipe-form-content {
    min-height: 20px;
    float: left;
    width: 100px;
    line-height: 23px;
    _height: 23px;
    _overflow: visible;
}

body .add-recipe-form-input {
    float: left;
    width: 220px;
    line-height: 20px;
    _height: 20px;
    _overflow: visible
}

body .input1 {
    border-right: #e2e2e2 1px solid;
    border-top: #e2e2e2 1px solid;
    border-left: #e2e2e2 1px solid;
    width: 210px;
    border-bottom: #e2e2e2 1px solid;
    height: 18px;
    _margin-bottom: 0px;
    *height: 13px;
    height: 13 px\0 /;
}

body .inputtextarea {
    border-right: #e2e2e2 1px solid;
    border-top: #e2e2e2 1px solid;
    margin-bottom: 5px;
    border-left: #e2e2e2 1px solid;
    width: 350px;
    border-bottom: #e2e2e2 1px solid;
    height: 60px;
    _margin-bottom: 0px
}

body .input2 {
    border-right: #e2e2e2 1px solid;
    border-top: #e2e2e2 1px solid;
    float: left;
    margin-bottom: 5px;
    border-left: #e2e2e2 1px solid;
    width: 50px;
    margin-right: 14px;
    border-bottom: #e2e2e2 1px solid;
    height: 18px;
    _margin-bottom: 0px
}

html > body .select2 {
    border-right: #e2e2e2 1px solid;
    border-top: #e2e2e2 1px solid;
    float: left;
    margin-bottom: 5px;
    border-left: #e2e2e2 1px solid;
    margin-right: 4px;
    border-bottom: #e2e2e2 1px solid;
    height: 24px;
    _margin-bottom: 0px
}

body .add-recipe-form-input2 {
    float: left;
    padding-bottom: 15px;
    width: auto;
    line-height: 30px;
    margin-right: 4px;
    _height: 21px;
    _overflow: visible;
    _padding-bottom: 15px
}

.add-recipe-form-input2 div {
    float: left ! important;
    width: auto ! important
}

.add-recipe-form-input2 div img {
    float: left ! important;
    margin-left: 2px ! important
}

.add-recipe-form-input2 div object {
    float: left ! important
}

.ingredients {
    padding-right: 0px;
    display: block;
    padding-left: 0px;
    padding-bottom: 0px;
    margin: 0px 15px;
    padding-top: 0px;
    list-style-type: none
}

.addrecipe {
    clear: both;
    margin-top: 5px;
    padding-left: 70px;
    line-height: 25px;
    position: relative;
    height: 30px
}

.addrecipe2 {
    clear: both;
    margin-top: 5px;
    padding-left: 70px;
    line-height: 25px;
    position: relative;
    height: 30px;
    background-color: #f0f0f0
}

.add-content {
    padding-left: 70px;
    line-height: 30px;
    padding-top: 10px;
    position: relative;
    height: 30px
}

.add-content-img {
    left: 22px;
    position: absolute;
    top: 4px
}

.img-addrecipe {
    left: 32px;
    position: absolute;
    top: 0px
}

.ingredients li {

}

.ingredients img {
    margin: 5px
}

.ingredients-bgclr {
    background-color: #f0f0f0
}

.input3 {
    border-right: #e2e2e2 1px solid;
    border-top: #e2e2e2 1px solid;
    float: left;
    border-left: #e2e2e2 1px solid;
    width: 150px;
    border-bottom: #e2e2e2 1px solid
}

.input5 {
    border-right: #e2e2e2 1px solid;
    border-top: #e2e2e2 1px solid;
    float: left;
    border-left: #e2e2e2 1px solid;
    width: 200px;
    border-bottom: #e2e2e2 1px solid
}

.add-recipe-form-container2 {
    clear: both;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 10px;
    margin: 0px;
    padding-top: 10px;
    list-style-type: none
}

html > body .add-recipe-form-input3 {
    display: inline;
    float: left;
    margin-bottom: 6px;
    width: auto;
    line-height: 20px;
    margin-right: 4px;
    height: 20px;
    _height: 20px;
    _overflow: visible
}

body .add-recipe-form-input5 {
    line-height: 23px;
    height: 23px
}

.left-sub-container2 {
    font-size: 11px;
    float: left;
    margin-left: 10px;
    width: 300px;
    font-family: arial, helvetica, sans-serif
}

.preview-container {
    border-right: #ebebeb 1px solid;
    padding-right: 4px;
    border-top: #ebebeb 1px solid;
    margin-top: 40px;
    padding-left: 4px;
    font-size: 11px;
    padding-bottom: 4px;
    border-left: #ebebeb 1px solid;
    padding-top: 4px;
    border-bottom: #ebebeb 1px solid;
    font-family: arial, helvetica, sans-serif;
    position: relative
}

.preview-container img {
    margin: 0px 0px 10px 10px
}

body .preview-container-header {
    border-right: #ebebeb 1px solid;
    padding-right: 4px;
    border-top: #ebebeb 1px solid;
    padding-left: 4px;
    font-weight: bold;
    left: -1px;
    padding-bottom: 4px;
    border-left: #ebebeb 1px solid;
    padding-top: 4px;
    border-bottom: #ebebeb 1px solid;
    position: absolute;
    top: -24px;
    _left: -5px;
    _top: -23px
}

.arrow-left-right {
    float: left
}

.adrecipepage-left-container {
    float: left;
    width: 610px
}

.add-recipe-header {
    margin-bottom: 21px;
    height: 26px
}

.add-recipe-header1 {
    float: left;
    width: auto
}

.add-recipe-header2 {
    font-weight: bold;
    font-size: 15px;
    float: left;
    background-image: url(../images/add-recipe-header-img3.jpg);
    width: 596px;
    color: #ffffff;
    line-height: 26px;
    font-family: "myriad pro";
    height: 26px
}

.add-recipe-header3 {
    font-weight: bold;
    font-size: 15px;
    float: left;
    background-image: url(../images/add-recipe-header-img3.jpg);
    width: 360px;
    color: #ffffff;
    line-height: 26px;
    font-family: "myriad pro";
    height: 26px
}

.menu-nav {
    background-position: 50% bottom;
    background-image: url(../images/menu-nav-img1.jpg);
    background-repeat: repeat-x;
    height: 34px
}

.menu-nav ul {
    padding-right: 0px;
    display: block;
    padding-left: 0px;
    padding-bottom: 0px;
    margin: 0px;
    padding-top: 0px;
    list-style-type: none
}

.menu-nav ul li {
    float: left;
    width: auto
}

.menu-nav ul li a {
    background-position: 0px 30px;
    display: block;
    font-weight: bold;
    font-size: 13px;
    background-image: url(../images/rollover-btn.jpg);
    width: 122px;
    color: #616a72;
    line-height: 30px;
    font-family: arial, helvetica, sans-serif;
    height: 30px;
    text-align: center;
    text-decoration: none
}

.menu-nav ul li a:hover {
    background-position: 0px 0px;
    display: block;
    font-weight: bold;
    font-size: 13px;
    background-image: url(../images/rollover-btn.jpg);
    width: 122px;
    color: #ffffff;
    line-height: 30px;
    font-family: arial, helvetica, sans-serif;
    height: 30px;
    text-align: center;
    text-decoration: none
}

.menu-nav ul li .active {
    background-position: 0px 0px;
    display: block;
    font-weight: bold;
    font-size: 13px;
    background-image: url(../images/rollover-btn.jpg);
    width: 122px;
    color: #ffffff;
    line-height: 30px;
    font-family: arial, helvetica, sans-serif;
    height: 30px;
    text-align: center;
    text-decoration: none
}

.left-container2 {
    font-size: 13px;
    background-image: url(../images/left-container-img2.jpg);
    width: 610px;
    color: #616a72;
    padding-top: 28px;
    background-repeat: repeat-y;
    font-family: arial, helvetica, sans-serif
}

.add-recipe-form {
    padding-left: 30px;
    float: left;
    width: 355px
}

.add-recipe-form table {
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-collapse: collapse;
    border-bottom-style: none
}

.select3 {
    border-right: #e2e2e2 1px solid;
    border-top: #e2e2e2 1px solid;
    float: left;
    margin-bottom: 5px;
    border-left: #e2e2e2 1px solid;
    width: 230px;
    margin-right: 4px;
    border-bottom: #e2e2e2 1px solid;
    height: 20px;
    _margin-bottom: 0px
}

body .input4 {
    border-right: #e2e2e2 1px solid;
    border-top: #e2e2e2 1px solid;
    float: left;
    margin-bottom: 5px;
    border-left: #e2e2e2 1px solid;
    width: 25px;
    margin-right: 4px;
    border-bottom: #e2e2e2 1px solid;
    height: 18px;
    _margin-bottom: 0px
}

html > body .input4 {
    float: left;
    margin-bottom: 5px;
    width: 25px;
    margin-right: 4px;
    height: 18px;
    *height: 13px;
    height: 13 px\0 /;
    _margin-bottom: 0px
}

.add-recipe-form2 {
    float: left;
    margin-left: 23px;
    width: 200px
}

.add-recipe-form5 {
    float: left;
    width: auto
}

.apply-btn {
    clear: both;
    width: 610px;
    position: relative;
    height: 40px
}

.apply-btn2 {
    left: 30px;
    position: absolute;
    top: 14px
}

.apply-btn-text1 {
    font-weight: bold;
    font-size: 12px;
    right: 21px;
    width: 178px;
    color: #616a72;
    font-family: arial, helvetica, sans-serif;
    position: absolute;
    top: 14px
}

.add-recipe-rgt-con {
    float: left;
    margin-left: 19px;
    width: 374px
}

.add-recipe-rgt1 {
    padding-top: 31px;
    position: relative
}

.add-recipe-rgt2 {
    padding-right: 15px;
    padding-left: 15px;
    background-image: url(../images/add-rgt-img2.jpg);
    padding-bottom: 0px;
    width: 344px;
    color: #616a72;
    padding-top: 5px
}

.font-10 {
    font-size: 10px;
    font-family: arial, helvetica, sans-serif
}

a.serve-link {
    font-size: 12px;
    color: #e58129;
    font-family: arial, helvetica, sans-serif;
    text-decoration: underline
}

a.serve-link:hover {
    font-size: 12px;
    color: #e58129;
    font-family: arial, helvetica, sans-serif;
    text-decoration: none
}

.blue-text {
    color: #2aa4b1
}

.add-rgt-hdr {
    left: 11px;
    width: 357px;
    position: absolute;
    top: 1px
}

.add-rgt-hdr1 {
    font-weight: bold;
    font-size: 13px;
    float: left;
    background-image: url(../images/add-rgt-hdr2.jpg);
    width: auto;
    color: #ffffff;
    line-height: 30px;
    font-family: arial, helvetica, sans-serif;
    height: 30px
}

body .rating {
    font-weight: bold;
    font-size: 12px;
    float: left;
    width: auto;
    color: #616a72;
    line-height: 30px;
    font-family: arial, helvetica, sans-serif;
    height: 30px;
    _padding-top: 8px
}

.save-recips {
    clear: both;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px
}

body .min-height-container {
    min-height: 376px;
    height: auto;
    _height: 376px;
    _overflow: visible
}

.ingredients {

}

input.errors {
    border-right: red 1px solid;
    border-top: red 1px solid;
    border-left: red 1px solid;
    border-bottom: red 1px solid
}

span.errors {
    border-right: red 1px solid;
    border-top: red 1px solid;
    border-left: red 1px solid;
    border-bottom: red 1px solid
}

.mnuTableHeader {
    height: 35px;
    background-color: #ddd
}

.mnuTableHeader td {
    line-height: 24px ! important
}

html > body .add-recipe-form-input-radio {
    padding-top: 5px;
    *padding-top: 0px;
    padding-top: 0 px\0 /;
}

.add-recipe-form-input-radio input {
    border: 0px;
    float: left;
}

html > body .add-recipe-form-input-radio strong {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    height: 20px;
    line-height: 17px;
    *line-height: 22px;
    line-height: 22 px\0 /;
}

.add-recipe-form-container4 {
    clear: both;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin: 0px;
    padding-top: 0px;
    list-style-type: none;
    height: 35px;
}

.add-recipe-form-container5 {
    clear: both;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 10px;
    margin: 0px;
    padding-top: 0px;
    list-style-type: none;
    height: 26px;
}

body .add-recipe-form-input4 {
    float: left;
    padding-bottom: 5px;
    width: auto;
    line-height: 30px;
    margin-right: 4px;
    _height: 21px;
    _overflow: visible;
    _padding-bottom: 15px
}

body .add-recipe-form-content5 {
    min-height: 20px;
    float: left;
    width: 100px;
    line-height: 23px;
    _height: 20px;
    _overflow: visible;
}
input.errors {
border: 1px solid red;
}

span.errors {
border: 1px solid red;
}

.showIngredientsHere table {
width: 577px;
border: 0px;
}

.showDirectionsHere table {
width: 577px;
border: 0px;
}

.mnuTableHeader {
background-color: #ddd;
height: 35px;
}

.top-nav ul li .top-nav-img1{
	width:23px;
	float:left;
	display:block;
	height:31px;
	padding-top:10px;
}
