/* start left-panel */
.flashMessage{border:red 1px solid;font-size:smaller;color:red;padding:10px;margin-bottom:5px;}
#wintermenu{height:52px;background:#2aa4b1 url(../images/winter-menu-left.gif) no-repeat top left;}
#winterplan{float:left;padding:14px 0px 0px 13px; font-size:24px; color:#fff; line-height:24px;}
#viewmenu{float:right;padding:18px 13px 0px 0px;background:url(../images/winter-menu-right.gif) no-repeat top right;color:#fff;font-weight:bold;font-size:11px;}
#viewmenu ul li{float:left;padding:0px 10px;background:url(../images/separator-small.gif) no-repeat top right;height:24px;line-height:24px;}
#viewmenu ul li span{font-size:12px;}
#viewmenu ul li a{color:#fff;text-decoration:none;}
#viewmenu ul li a:hover{color:#f5ecec;}
#viewmenu ul li.noseprator{float:left;background:none;}
#viewmenu ul li.noseprator1{padding:0px 0px 0px 20px;float:left;background:none;}

.inp{border:none;background:transparent;padding:1px 0px 3px 5px;height:15px;width:140px;font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#a3a3a3;}
#youhave{background:url(../images/vert-divider.gif) no-repeat bottom left;clear:both;font-size:12px;color:#525454;font-size:12px;padding:5px 0px;}
#youhave h2{background:url(../images/vert-divider.gif) no-repeat top left;clear:both;line-height:30px;color:#292e2e;font-size:13px;}
#search-right{float:right;width:99px;}
#search-right h2{line-height:18px;color:#292e2e;font-size:15px;color:#e67432;font-weight:bold;}
#country-cate{clear:both;font-size:12px;color:#292e2e;font-weight:bold;}
#country-cate ul li{clear:both;margin-top:0px;padding:5px 0px 5px 0px;}
#country-cate ul li a{display:block;text-decoration:none;color:#007ad8;font-weight:normal;clear:both;padding:0px 0px;margin:0px;line-height:14px;}
#country-cate ul li span:hover{color:orange;font-weight:bold;}
#country-cate ul li span{color:#007ec1;}
.imgbor{border:none;height:80px;width:80px;background:url(../images/ima-bg.gif) no-repeat top left;}
#pagination{clear:both;font-size:12px;font-weight:bold;height:20px;padding-top:10px;}
#pagination ul li{float:left;padding:0px 3px;}
#pagination ul li a{color:#007ad8;text-decoration:none;}
#pagination ul li a:hover{color:#828282;}
#pagination ul li a.arrowbor{height:15px;width:15px;border:none;}
/* end right-panel listing page */
.headbox{background:#2aa4b1 url(../images/head-left.gif) no-repeat top left;height:26px;display:block;font-weight:bold;color:#fff;margin-bottom:21px;}
.headbox h3{background:url(../images/head-right.gif) no-repeat top right;font-size:15px;padding-left:10px;line-height:26px;}
#menu{clear:both;height:30px;padding-bottom:4px;background: url(../images/bottom-border.gif) repeat-x bottom left;}
#menu ul li{float:left;margin-right:1px;line-height:30px;font-size:13px;font-weight:bold;}
#menu ul li a{float:left;text-decoration:none;color:#616a72;padding-left:10px;background:url(../images/left-close.gif) no-repeat bottom left;cursor:pointer;}
#menu ul li a span{float:left;padding-right:11px;background:url(../images/right-close.gif) no-repeat bottom right;}
#menu ul li a:hover{float:left;text-decoration:none;color:#fff;padding-left:10px;background: url(../images/menu-hover.gif) no-repeat bottom left;cursor:pointer;}
#menu ul li a:hover span{float:left;padding-right:11px;background:url(../images/menu-hover.gif) no-repeat bottom right;}
#menu ul li a.current{float:left;text-decoration:none;color:#fff;padding-left:20px;background: url(../images/menu-hover.gif) no-repeat bottom left;cursor:pointer;}
#menu ul li a.current span{float:left;padding-right:21px;background:url(../images/menu-hover.gif) no-repeat bottom right;}
#browseimg{padding:10px 0px;text-align:right;}
.leftbox{border-left:1px solid #d6d4d5;border-right:1px solid #d6d4d5;clear:both;padding:0px 20px;}
.top-shadow{background:url(../images/top-left.png) no-repeat bottom left;padding-left:20px;clear:both;display:block;height:9px;}
.top-shadow label{background:url(../images/top-right.png) no-repeat bottom right;height:9px;display:block;}
.bottom-shadow{background:url(../images/round-left.png) no-repeat bottom left;padding-left:20px;clear:both;display:block;height:32px;}
.bottom-shadow label{background:url(../images/round-right.png) no-repeat bottom right;height:32px;display:block;}
#button{clear:both;height:40px;padding:20px 10px;}
#button ul li{float:left;padding-right:10px;}
.button{border:1px solid #ffa500;text-decoration: none;font-size:14px;color:#fff;line-height:35px;width:120px;height:35px;background:#ffa500;padding:2px 10px 3px 10px;}
.inpboxSmall{border:1px solid #e2e2e2;font-size:12px;color:#323232;padding:2px 3px 3px 10px;width:50px;}
.inpbox{border:1px solid #e2e2e2;font-size:12px;color:#323232;padding:2px 3px 3px 10px;}
.formElement{clear:both;padding-top:20px;color:#616a72;}
.formElement ul li{float:left;width:290px;font-size:12px;font-weight:bold;}
.formElement ul li.browsebox{text-align:right;}
.formElement ul li ul li{float:none;clear:both;padding-bottom:10px;height:25px;}
.formElement ul li ul li label{float:left;width:100px;}
.formElement ul li ul li span{float:left;width:190px;}
#contectElement{clear:both;padding-top:20px;color:#616a72;}
#contectElement ul li{float:left;width:290px;font-size:12px;}
#contectElement ul li a{color:#2aa3b4;text-decoration:none;}
#contectElement ul li a:hover{text-decoration:underline;}
#contectElement ul li ul li{float:none;clear:both;padding:10px 0;}
#contectElement ul li ul li a{color:#2aa3b4;text-decoration:none;}
#contectElement ul li ul li a:hover{text-decoration:underline;}
#contectElement ul li ul li label{float:left;width:100px;}
#contectElement ul li ul li span{float:left;width:190px;}
/* end right-panel listing page */
#right-head{clear:both;background:url(../images/left-close1.gif) no-repeat top left;height:30px;padding-left:10px;line-height:28px;font-size:12px;margin:0px 10px;}
#right-head label{background: url(../images/corner.gif) no-repeat top right;height:30px;color:#fff;font-weight:bold;float:left;padding-right:20px;font-size:14px;}
#leftpart{float:left;width:450px;}
#rightpart{float:right;width:130px;margin:0px;height:29px;}
#rightpart a{color:#616a72;padding:0px 5px;text-decoration:none;font-weight:bold;}
#rightpart a:hover{text-decoration:underline;}
#rightElement{clear:both;padding-top:10px;font-size:12px;color:#616a72;}
#rightElement ul li{clear:both;padding-top:5px;}
#rightElement ul li #prev-content{float:left;width:150px;}
#rightElement ul li #prev-pic{float:right;width:150px;}
#rightElement ul li a{color:#2aa4b1;text-decoration:none;}
#rightElement p{line-height:20px !important; padding:5px 0px; }
#rightElement ul li a:hover{text-decoration:underline;}
#left-panel-product{float:left;width:215px;}
#left-panel-product h2{line-height:18px;color:#292e2e;font-size:15px;font-weight:bold;}
#left-panel-product h3{line-height:18px;font-size:15px;color:#e67432;font-weight:bold;}
#right-panel-product{float:right;width:775px;}
.product{clear:both;font-size:11px;font-weight:bold;margin-top:0px;padding-top:20px;line-height:16px;}
.product ul li{float:left;width:230px;margin:0px 4px;padding:2px 0px;cursor:pointer;}
.product ul li:hover{background:#eeeeee;}
.product ul li ul li{display:block;margin:0 !important;width:220px;padding:5px;}
.product ul li ul li strong{color:#2aa4af;text-decoration:none;font-size:12px;margin:auto;}
.product ul li ul li.center{text-align:center;}
.product ul li ul li ul li{margin:0 !important;float:left !important;width:110px !important;padding:2px 0px !important;}
.product ul li ul li ul li ul li{line-height:16px;padding:0px !important;clear:both;}
.product ul li ul li strong:hover{color:#fea501;}
/* 30 April */
.menuplannerTab tr{height:30px;font-family:verdana,arial,helvetica,sans-serif;font-size:11px;}
.mnuTableHeader{background:#ddd;}
.liForToolBoxes{margin-top:10px;border:1px solid #eee;width:554px !important;padding-left:30px;padding-top:10px;padding-bottom:10px;}
.nutrientRow0{background:#fff;}
.nutrientRow1{background:#eee;}
input.errors{border:red 1px solid;}
div.errors{border:red 1px solid;font-size:smaller;color:red;padding:10px;margin-bottom:5px;}
.paginateButtons {border: 0px;color: #666;font-size: 10px;overflow: hidden;padding: 10px 3px;margin-top: 10px;}
.paginateButtons a{font-weight: bold;font-size:11px;color:royalblue;margin:0 3px;}
.paginateButtons span{padding: 2px 3px;}

/*some more for add-edit recipe : 19 MAY 2010*/
#directionToBeAdded{
    display:block;
    float:left;
    padding-left:10px;
}
#removeRecipeImage{
    cursor:pointer;
}
#ingredientToBeAdded{display:block; float:left;padding-left:10px;}
.searchOptionTexts{float:left; padding-left:5px;}
.pointer{cursor:pointer;}
#itemToBeAdded{display:block; float:left;padding-left:42px;}
/*some more for add-edit recipe : 19 MAY 2010*/
