#daymenu{height:26px;clear:both;margin-top:5px;font-weight:bold;color:#fff;background:url(../images/day-menu-second.gif) repeat-x top left;font-size:12px;line-height:26px;}
#daymenu ul li.first{width:21px;float:left;background:url(../images/day-menu-first.gif) repeat-x top left;border-right:1px solid #fff;}
#daymenu ul li{float:left;height:26px;}
#daymenu ul li li{float:left;padding:0px 19px;}
#daymenu ul li a{color:#fff;text-decoration:none;}
#daymenu ul li li:last-child{float:left;padding:0px 0px 0px 19px;}
#daymenu ul li a:hover{color:#f4f1f1;}

#countrymenu{height:22px;margin-bottom:8px;clear:both;border-top:1px solid #fff;font-weight:bold;color:#fff;background:url(../images/couintry-menu-second.gif) repeat-x top left;font-size:11px;line-height:22px;}
#countrymenu ul li.first{width:21px;float:left;background:url(../images/country-menu-first.gif) repeat-x top left;border-right:1px solid #fff;}
#countrymenu ul li{float:left;height:22px;}
#countrymenu ul li li{float:left;padding:0px 20px 0px 17px;border-right:1px solid #fff;}
#countrymenu ul li a{color:#616a72;text-decoration:none;height:22px;padding-right:12px;background:url(../images/down-arrow-gray.gif) no-repeat center right;}
#countrymenu ul li a:hover{color:#f4f1f1;}
#countrymenu ul li li.last{float:left;border-right:none;}

#search{background:url(../images/quick-search.gif) no-repeat top left;margin-bottom:5px;height:26px;line-height:26px;color:#fff;font-size:15px;padding:0px 4px 0px 10px;}
#search-container{background:url(../images/top-close.gif) no-repeat top left;padding-top:12px;}
#search-bottom{background:url(../images/bottom-close.gif) no-repeat bottom left;padding:0px 11px 15px 12px;}
#search-left{float:left;width:215px;}
#search-input{background:url(../images/search-input.gif) no-repeat top left;margin-bottom:12px;padding-left:20px;line-height:14px;}
#search-input input{background:url(../images/search-input1.gif) no-repeat top right;height:22px;padding:2px 0px 3px 0px;}

.week{font-size:11px;font-weight:bold; position:relative;}
.week ul li{margin:0px 0px 4px 0px; height:69px; clear:both; position:relative;}
.week ul li.divider{margin:0px 0px 0px 0px; clear:both; height:24px !important;}
.week ul li ul{ padding:0px; margin:0px; list-style:none; position:absolute; top:0px;}
.week ul li ul li{float:left;height:55px;border:#d5d4d4 1px solid;color:#e67432;width:75px;margin-left:4px;padding:6px 6px 6px 0px; clear:none; position:relative;overflow:hidden;}
.week ul li ul li:hover{overflow:visible !important;}
.week ul li ul li.first{float:left;border:none;background:#b1bdc1;width:18px;margin:0px; height:69px; padding:0px; text-align:center;}
.week ul li ul li div img{margin-left:-11px;width:11px; display:block; height:11px; position:absolute; left:0; opacity:0.5;filter:alpha(opacity=20);}
.week ul li ul li div span{ padding:0px;}
.week ul li ul li div{position:relative; padding-left:4px; clear:both; overflow:hidden;}
.week ul li ul li div:hover {overflow:visible !important; }
.week ul li ul li div img:hover{opacity:1.0;filter:alpha(opacity=100);}
.week ul li ul li:hover{}

.ratingbox{clear:both;font-size:11px;color:#fff;margin-top:11px;}
.ratingbox ul li{clear:both;cursor:pointer;width:205px;padding:5px;margin-bottom:11px;background:#329ca7;}
.ratingbox ul li ul li{margin:0 !important;padding:0 !important;background:none  !important;}
.ratingbox ul li ul li h3{padding:0px !important;margin:0px !important;line-height:20px;font-size:12px;}
.ratingbox ul li ul li h3 a{text-decoration:none;color:#ffffff;}
.ratingbox ul li ul li ul li{clear:none;float:left;width:102px !important;padding:2px 0px !important;background:none  !important;}
.ratingbox ul li ul li ul li ul li{line-height:15px;padding-left:0px !important;clear:both;}
.ratingbox ul li:hover{background:#ffa500;}
