#secureRole{width:80%;color:#616A72; font-size:12px; margin:auto;}
#secureRole ul li{clear:both;padding:5px;}
#secureRole ul li h3{color:#E67432;
font-size:15px;
font-weight:bold;
line-height:18px;
padding-top:9px;}
#secureRole ul li.dotsLine{padding:8px 0; border-bottom:1px dotted #CCCCCC;clear:both; overflow:hidden;}
#secureRole ul li ul li{padding:0 20px 0 0; margin:0; float:left; clear:none;}
#secureRole li a {clear:both;color:#007AD8;font-weight:normal;line-height:14px;margin:0;padding:0;text-decoration:none;}
#secureRole li a:hover{color:#EB7527;}
#secureRole ul li ul li div{padding:0 0px 0 15px; margin:0;  clear:both; clear:none; color:#EB7527;}
#secureRole ul li span{float:left;text-align:right;padding-right:15px;}
#secureRole ul li label{float:left;}
.red{color:#EB7527;}

#rolelist{width:100%;color:#616A72; font-size:12px;border-top:1px solid #d3d1d2;border-left:1px solid #d3d1d2; clear:both;}
#rolelist ul li{clear:both;padding:0px; margin:0;border-bottom:1px solid #d3d1d2; overflow:hidden; }
#rolelist ul li.head{ font-weight:bold; background:#e6e6e6;overflow:hidden; clear:both; position:relative;}
#rolelist ul li.alternatecolor{ background:#fafaf6; overflow:hidden; clear:both;  position:relative;}
#rolelist ul li ul li{float:left;width:260px;border-right:1px solid #d3d1d2; clear:none;border-bottom:none; padding:4px 0;}
#rolelist ul li ul li.desc{width:700px}
#rolelist ul li a{text-decoration:underline;color:#007ad8;}
#rolelist ul li a:hover{text-decoration:none;}
