/* start left-panel */
#wintermenu{ height:52px; background:#2aa4b1 url(../images/winter-menu-left.gif) no-repeat top left;}
#winterplan{float:left; padding:18px 0px 0px 13px;}
#viewmenu{float:right; padding:18px 13px 0px 0px; background:url(../images/winter-menu-right.gif) no-repeat top right; color:#fff;font-weight:bold; font-size:11px;}
#viewmenu ul li{float:left;  padding:0px 10px; background:url(../images/separator-small.gif) no-repeat top right; height:24px; line-height:24px;}
#viewmenu ul li span{ font-size:12px; }
#viewmenu ul li a{ color:#fff; text-decoration:none;}
#viewmenu ul li a:hover{ color:#f5ecec;}
#viewmenu ul li.noseprator{float:left; background:none;}
#viewmenu ul li.noseprator1{padding:0px 0px 0px 20px;float:left; background:none;}
/*  start daymenu ,countrymenu */
#daymenu{height:26px; clear:both; margin-top:5px; font-weight:bold; color:#fff;background:url(../images/day-menu-second.gif) repeat-x top left; font-size:12px;line-height:26px;}
#daymenu ul li.first{ width:21px; float:left; background:url(../images/day-menu-first.gif) repeat-x top left; border-right:1px solid #fff;}
#daymenu ul li{ float:left;  height:26px; }
#daymenu ul li li{ float:left; padding:0px 18px;}
#daymenu ul li a{ color:#fff; text-decoration:none; }
#daymenu ul li a:hover{ color:#f4f1f1;}
#countrymenu{height:22px; margin-bottom:8px; clear:both; border-top:1px solid #fff; font-weight:bold; color:#fff;background:url(../images/couintry-menu-second.gif) repeat-x top left; font-size:11px;line-height:22px;}
#countrymenu ul li.first{ width:21px; float:left; background:url(../images/country-menu-first.gif) repeat-x top left; border-right:1px solid #fff;}
#countrymenu ul li{ float:left;  height:22px; }
#countrymenu ul li li{ float:left;padding:0px 20px 0px 17px;  border-right:1px solid #fff; }
#countrymenu ul li a{ color:#616a72; text-decoration:none; height:22px;padding-right:12px; background:url(../images/down-arrow-gray.gif) no-repeat center right;}
#countrymenu ul li a:hover{ color:#f4f1f1;}
#countrymenu ul li li.last{ float:left;  border-right:none; }

/* hake ie6 */

.week{font-size:11px;font-weight:bold;}
.week ul li{margin:0px 0px 0px 0px; clear:both; height:69px;}
.week ul li.divider{margin:0px 0px 0px 0px; clear:both; height:24px !important;}
.week ul li ul{ padding:0px; margin:0px; list-style:none;}
.week ul li ul li{float:left;height:55px;border:#d5d4d4 1px solid;background-color:#fcfcfc;color:#e67432;width:69px;margin-left:4px;padding:6px; clear:none;}
.week ul li ul li.first{float:left;border:none;background:#b1bdc1;width:18px;margin:0px; height:69px; padding:0px; text-align:center; }
/* end hake ie6 */
.week{font-size:11px;font-weight:bold;}
.week ul li{margin:0px 0px 4px 0px; clear:both; height:69px;}
.week ul li.divider{margin:0px 0px 4px 0px; clear:both; height:24px !important;}
.week ul li ul{ padding:0px; margin:0px; list-style:none;}
.week ul li ul li{float:left;height:55px;border:#d5d4d4 1px solid;background-color:#fcfcfc;color:#e67432;width:69px;margin-left:4px;padding:6px; clear:none;}
.week ul li ul li.first{float:left;border:none;background:#b1bdc1;width:18px;margin:0px; height:69px; padding:0px; text-align:center;}
/*  start daymenu ,countrymenu end left-panel start right-panel */
#search{background:url(../images/quick-search.gif) no-repeat top left; margin-bottom:5px;	height:26px;line-height:26px;color:#fff;font-size:15px;padding:0px 4px 0px 10px;}
#search-container{background:url(../images/top-close.gif) no-repeat top left;padding-top:12px;}
#search-bottom{background:url(../images/bottom-close.gif) no-repeat bottom left; padding:0px 11px 15px 12px;}
#search-left{float:left; width:215px;}
#search-input{background:url(../images/search-input..gif) no-repeat top left; width:215px;height:22px;margin-bottom:12px; padding:2px 0px 0px 20px; }
.inp{border:none; background:transparent; padding:1px 0px 3px 5px;height:15px;width:140px;font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#a3a3a3;}
#youhave{ background:url(../images/vert-divider.gif) no-repeat bottom left; clear:both; font-size:12px; color:#525454; font-size:12px; padding:5px 0px; }
#youhave h2{ background:url(../images/vert-divider.gif) no-repeat top left; clear:both; line-height:30px; color:#292e2e; font-size:13px;  }


#search-right{float:right; width:99px;}
#search-right h2{line-height:18px; color:#292e2e; font-size:15px; color:#e67432; font-weight:bold; }
#country-cate{clear:both; font-size:12px; color:#292e2e; font-weight:bold;}
#country-cate ul li{clear:both; margin-top:0px; padding:5px 0px 5px 0px;}
#country-cate ul li a{ display:block;text-decoration:none; color:#007ad8; font-weight:normal; clear:both; padding:0px 0px; margin:0px; line-height:14px;}
#country-cate ul li a:hover{ font-weight:bold;}

.ratingbox{clear:both; font-size:11px; color:#fff;}
.ratingbox ul li{clear:both; background-color:#329ca7; padding:5px; margin-top:11px; height:109px;}
.ratingbox ul li h3{clear:both;padding:10px; padding:0px 5px 0px 0px; margin:0px; line-height:16px;   font-size:12px;}
.ratingbox-left{ float:left;width:110px;}
.ratingbox-left img{ clear:both; padding:1px 0px 0px 1px;}
.imgbor{ border:none; height:82px; width:99px; background:url(../images/ima-bg.gif) no-repeat top left;}
.ratingbox-right{ float:right;width:90px;}
.star-container{clear:both; height:20px; padding-top:5px;}

#pagination{clear:both; font-size:12px; font-weight:bold; height:20px; padding-top:10px;}
#pagination ul li{ float:left; padding:0px 3px;}
#pagination ul li a{color:#007ad8; text-decoration:none;}
#pagination ul li a:hover{color:#828282; }
#pagination ul li a.arrowbor{ height:15px; width:15px; border:none;}


/* end right-panel */