/* start admin profile page start leftpanel  */
#leftpanel {
    float: left;
    width: 22%;
    color: #292e2e;
    font-size: 12px;
    margin-top: 10px;
    line-height: 16px;
}

#leftpanel h3 {
    line-height: 18px;
    font-size: 15px;
    color: #e67432;
    font-weight: bold;
    padding-top: 9px;
}

#leftpanel ul li {
    clear: both;
    margin-top: 0px;
    padding: 5px 0px 5px 0px;
}

#leftpanel ul li a {
    text-decoration: underline;
    color: #007ad8;
    display: inline;
    clear: both;
    padding-right: 5px;
}

#leftpanel ul li a:hover {
    text-decoration: none;
}

#photo {
    border: 2px solid #d6d4d5;
    width: 190px;
    text-align: center;
}

/* end leftpanel start rightpanel  */
#rightpanel {
    float: right;
    width: 77%;
    margin-top: 10px;
    color: #616A72;
    font-size: 12px;
}

#rightpanel ul li {
    clear: both;
    padding: 10px;
}

#rightpanel ul li span {
    float: left;
    width: 160px;
    text-align: right;
    padding-right: 15px;
}

#rightpanel ul li label {
    float: left;
    width: 450px;
}

#right-link {
    clear: both;
    color: #292e2e;
    margin-top: 30px;
    padding-left: 175px;
}

#right-link h3 {
    line-height: 18px;
    font-size: 15px;
    color: #e67432;
    font-weight: bold;
    padding-top: 9px;
}

#right-link ul li {
    clear: both;
    margin-top: 0px;
    padding: 5px 0px 5px 0px;
}

#right-link ul li a {
    text-decoration: underline;
    color: #007ad8;
    display: inline;
    clear: both;
    padding-right: 5px;
}

#right-link ul li a:hover {
    text-decoration: none;
}

.txtarea {
    border: 1px solid #e2e2e2;
    font-size: 12px;
    color: #323232;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px 3px 3px 10px;
}

/* end rightpanel end admin profile page */

/* start adduser  */
#adduser{width:100%;color:#616A72; font-size:12px;}
#adduser ul li{clear:both;padding:10px;}
#adduser ul li span{float:left;width:160px;text-align:right;padding-right:15px;}
#adduser ul li label{float:left;width:570px;}
/* end adduser

/* start userlist  */
#userlist{width:100%;color:#616A72; margin-top:30px; font-size:12px;border-top:1px solid #d3d1d2;border-left:1px solid #d3d1d2; clear:both;}
#userlist ul li{clear:both;padding:0px; margin:0;border-bottom:1px solid #d3d1d2; overflow:hidden; }
#userlist ul li.head{ font-weight:bold; background:#e6e6e6;}
#userlist ul li.alternatecolor{ font-weight:bold; background:#fafaf6;}
#userlist ul li ul li{float:left;width:110px;border-right:1px solid #d3d1d2; clear:none;border-bottom:none; padding:4px; }
#userlist ul li ul li.email{float:left;width:239px; clear:none;border-bottom:none; padding:4px;}
#userlist ul li a{text-decoration:underline;color:#007ad8;}
#userlist ul li a:hover{text-decoration:none;}
/* end adduser */